@font-face {
  font-family: "DungGeunMo";
  src: url("../fonts/DungeunMo/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LABDigital";
  src: url("../fonts/LabDigital/LABDigital.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DungGeunMo";
}

ol,
ul {
  list-style: none;
}

img,
input,
textarea,
select {
  vertical-align: middle;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-size: 24px;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

img {
  display: block;
}

header,
nav,
main,
section,
footer {
  display: block;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 20px;
}
@media only screen and (min-width: 1024px) {
  .container {
    padding: 0 10px;
  }
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 55px;
  background-color: transparent;
}
header .logo {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
  margin-left: -10px;
}
header .mobile-menu-box .mobile-menu-bar {
  position: relative;
  display: block;
  float: right;
  margin-top: -25px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  header .mobile-menu-box .mobile-menu-bar {
    display: none;
  }
}
header .mobile-menu-box .mobile-menu-bar span {
  position: relative;
  transition-duration: 0.2s;
}
header .mobile-menu-box .mobile-menu-bar span:before, header .mobile-menu-box .mobile-menu-bar span:after {
  position: absolute;
  content: "";
}
header .mobile-menu-box .mobile-menu-bar span, header .mobile-menu-box .mobile-menu-bar span:before, header .mobile-menu-box .mobile-menu-bar span:after {
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  display: block;
}
header .mobile-menu-box .mobile-menu-bar span:before {
  margin-top: -12px;
  transition-property: margin, transform;
  transition-duration: 0.2s;
  transition-delay: 0.2s, 0s;
}
header .mobile-menu-box .mobile-menu-bar span:after {
  margin-top: 12px;
  transition-property: margin, transform;
  transition-duration: 0.2s;
  transition-delay: 0.2s, 0s;
}
header .mobile-menu-box .mobile-menu-bar.active span {
  background-color: rgba(0, 0, 0, 0);
}
header .mobile-menu-box .mobile-menu-bar.active span:before {
  margin-top: 0;
  transform: rotate(45deg);
  transition-delay: 0s, 0.2s;
}
header .mobile-menu-box .mobile-menu-bar.active span:after {
  margin-top: 0;
  transform: rotate(-45deg);
  transition-delay: 0s, 0.2s;
}

/* ---------------side menu----------------------------- */
main {
  /* -------------------mainsec------------------------------- */
  /* -------------------------------------------- */
  /* -------------------skills----------------------------- */
  /* skill-sec */
}
main nav.side-menu {
  display: none;
  position: fixed;
  z-index: 100;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  line-height: 10vh;
  text-align: center;
  background-color: #f9f9f9;
}
@media only screen and (min-width: 1024px) {
  main nav.side-menu {
    display: block;
    background-color: transparent;
    text-align: left;
    width: 20%;
    color: white;
  }
}
main nav.side-menu .gnb {
  margin-top: 20vh;
}
@media only screen and (min-width: 1024px) {
  main nav.side-menu .gnb {
    margin-top: 25vh;
  }
}
main nav.side-menu .gnb li {
  font-size: 5vh;
  cursor: pointer;
  margin-top: 30px;
}
@media only screen and (min-width: 1024px) {
  main nav.side-menu .gnb li {
    font-size: 27px;
    width: -moz-fit-content;
    width: fit-content;
  }
}
main section.mainsec {
  height: 100vh;
  background-image: radial-gradient(circle at 50% 50%, rgb(70, 71, 92), #1f2020);
}
main section.mainsec .elevator {
  margin: 0 auto;
  padding-top: 10vh;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  main section.mainsec .elevator {
    padding-top: 250px;
  }
}
main section.mainsec .elevator h1 {
  font-family: "LABDigital";
  font-size: 8vw;
  color: white;
  text-shadow: 0 0 7px #f8bd65, 0 0 10px #f8bd65, 0 0 21px #f8bd65, 0 0 42px #f1422b, 0 0 82px #f8bd65, 0 0 92px #f8bd65, 0 0 102px #f8bd65, 0 0 151px #f1422b;
}
@media only screen and (min-width: 1024px) {
  main section.mainsec .elevator h1 {
    font-size: 40px;
  }
}
main section.mainsec .elevator img {
  margin: 0 auto;
  width: 70%;
}
@media only screen and (min-width: 1024px) {
  main section.mainsec .elevator img {
    width: 20%;
  }
}
main section.aboutme-sec {
  height: 100vh;
  background-color: aliceblue;
}
main section.aboutme-sec .face {
  width: 300px;
}
main section.skill-sec {
  height: 100vh;
  background-image: radial-gradient(circle at 50% 50%, rgb(70, 71, 92), #1f2020);
  /* form */
}
main section.skill-sec h2 {
  padding-top: 12vh;
  text-align: center;
}
main section.skill-sec form {
  padding-top: 3vh;
}
@media only screen and (min-width: 1024px) {
  main section.skill-sec form {
    position: absolute;
    margin-top: 200px;
    margin-left: 400px;
  }
}
main section.skill-sec form .btn {
  border: 3px solid rgb(0, 0, 0);
  display: inline-block;
  padding: 10px;
  position: relative;
  z-index: 10;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
}
main section.skill-sec form input[type=radio].toggle {
  display: none;
}
main section.skill-sec form input[type=radio].toggle + label {
  cursor: pointer;
  width: 50%; /* dd */
  font-size: 20px;
  line-height: 25px;
}
@media only screen and (min-width: 1024px) {
  main section.skill-sec form input[type=radio].toggle + label {
    width: 110px;
  }
}
main section.skill-sec form input[type=radio].toggle + label:hover {
  background: none;
  color: #1a1a1a;
}
main section.skill-sec form input[type=radio].toggle + label:after {
  background: rgb(0, 0, 0);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  z-index: -1;
}
main section.skill-sec form input[type=radio].toggle.toggle-left + label {
  border-right: 0;
}
main section.skill-sec form input[type=radio].toggle.toggle-left + label:after {
  left: 100%;
}
main section.skill-sec form input[type=radio].toggle.toggle-right + label {
  margin-left: -8px;
}
main section.skill-sec form input[type=radio].toggle.toggle-right + label:after {
  left: -100%;
}
main section.skill-sec form input[type=radio].toggle:checked + label {
  cursor: default;
  color: #fff;
  z-index: 60;
  transition: color 200ms;
}
main section.skill-sec form input[type=radio].toggle:checked + label:after {
  left: 0;
}
main section.skill-sec .languages {
  padding-top: 5vh;
  perspective: 1000px;
  background-color: #f1422b;
}
main section.skill-sec .languages .skill-icon {
  background: radial-gradient(circle at 50% 110%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  transform-style: preserve-3d;
  transition: transform 0.5s;
  width: 10vh;
  height: 10vh;
  position: relative;
  border-radius: 50%;
}
main section.skill-sec .languages .skill-icon:hover {
  transform: rotateY(20deg) rotateX(10deg);
}
main section.skill-sec .languages .skill-icon::before {
  content: "";
  width: 104%;
  height: 103%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 110%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}
main section.skill-sec .languages .skill-icon::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(33.3333333333px);
  background: radial-gradient(circle at 50% 110%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    --rotate: 0deg;
  }
  100% {
    transform: rotate(360deg);
    --rotate: 360deg;
  }
}
main section.skill-sec .languages .skill-icon img {
  scale: 0.6;
}
main section.skill-sec .tools {
  display: none;
}
main section.portfolio-sec {
  height: 100vh;
  background-color: aquamarine;
}
main section.contact-sec {
  height: 100vh;
  background-color: #f8bd65;
  overflow: hidden;
}
main section.contact-sec .ring {
  position: relative;
  margin: 0 auto;
  width: 90vw;
  height: 90vw;
  transform: translate(0px, 35%);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  main section.contact-sec .ring {
    width: 600px;
    height: 600px;
    transform: translate(0px, 40%);
  }
}
main section.contact-sec .ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #000000;
  transition: 0.5s;
}
main section.contact-sec .ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
main section.contact-sec .ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
main section.contact-sec .ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
main section.contact-sec .ring:hover i {
  border: 4px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
main section.contact-sec .ring .myinfo {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-evenly;
}
main section.contact-sec .ring .myinfo h2 {
  font-size: 4vh;
  text-align: center;
}
main section.contact-sec .ring .myinfo .mymail {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5vh;
  padding-left: 15%;
}
main section.contact-sec .ring .myinfo .mymail img {
  width: 12%;
}
main section.contact-sec .ring .myinfo .mymail a {
  font-size: 2vh;
}
main section.contact-sec .ring .myinfo .mynum {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5vh;
  padding-left: 15%;
}
main section.contact-sec .ring .myinfo .mynum img {
  width: 12%;
}
main section.contact-sec .ring .myinfo .mynum a {
  font-size: 2vh;
}
main section.contact-sec .ring .myinfo .mygithub {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5vh;
  padding-left: 15%;
}
main section.contact-sec .ring .myinfo .mygithub img {
  width: 12%;
}
main section.contact-sec .ring .myinfo .mygithub a {
  font-size: 2vh;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=index.css.map */