@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }

.container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;
    // background-color: rgb(255, 155, 24);
    
    @include responsive(large-screens) {
        padding: 0 10px;
        // background-color: rgb(226, 226, 226);
    }

}

html{overflow: hidden;}
        console.log(window.innerHeight);


header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 55px;
    background-color: transparent;

    .logo {
        width: fit-content;
        margin-top: 35px;
        margin-left: 0px;
        cursor: pointer;
        // background-color: #f1422b;
        img{
        }
    }
    .mobile-menu-box {
        .mobile-menu-bar {
            position: relative;
            display: block;
            float: right;
            margin-top: -25px;
            width: 30px;
            height: 30px;
            cursor: pointer;

            @include responsive(large-screens) {
                display: none;
            }
    
            span {
                position: relative;
                transition-duration: 0.2s;
            }
            
            span:before, span:after {
                position: absolute;
                content: '';
            }
            
            span, span:before, span:after {
                width: 30px;
                height: 5px;
                background-color: #ffffff;
                display: block;
            }
            
            span:before {
                margin-top: -12px;
                transition-property: margin, transform;
                -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	            -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
            }
            
            span:after {
                margin-top: 12px;
                transition-property: margin, transform;
                -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	            -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
            }
            
            &.active span {
                background-color: rgba(0, 0, 0, 0);
            }
            
            &.active span:before {
                margin-top: 0;
                transform: rotate(45deg);
                background-color: #000;
                -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
            }
            
            &.active span:after {
                margin-top: 0;
                transform: rotate(-45deg);
                background-color: #000;
                -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
            }
        }
    }
    
}

/* ---------------side menu----------------------------- */
main {
    nav.side-menu {
        display: none;
        position: fixed;
        z-index: 500;
        margin: 0 auto;
        width: 100%;
        height: 100vh;
        line-height: 10vh;
        color: black;
        text-align: center;
        background-color: #f9f9f9;

        @include responsive(large-screens) {
            display: block;
            text-align: left;
            width: fit-content;
            background-color: transparent;
            color: white;
            margin-left: 70px;
        }

        .gnb {
            margin-top: 20vh;

            @include responsive(large-screens) {
                margin-top: 25vh;
            }

            li {
                font-size:5vh;
                cursor: pointer;
                margin-top: 30px;
                // background-color: aquamarine;

                @include responsive(large-screens) {
                    font-size: 27px;
                    width: fit-content;
                }
            }
        }
    }

    
/* -------------------mainsec------------------------------- */
    section.mainsec {
        height: 100vh;
        // background-image: radial-gradient(circle at 50% 50%,rgb(70, 71, 92),#1f2020);
        background: url(../images/mainbackground.jpg) no-repeat;
        background-size: cover;

        @include responsive(large-screens) {
        }
        
        .elevator {
            margin: 0 auto;
            padding-top: 10vh;
            text-align: center;

            @include responsive(large-screens) {
                padding-top: 250px;
            }
            
            h1 {
                    font-family: 'LABDigital';
                    font-size: 8vw;
                    color: white;
                    text-shadow: 0 0 7px #f8bd65, 0 0 10px #f8bd65, 0 0 21px #f8bd65, 0 0 42px #f1422b,
                        0 0 82px #f8bd65, 0 0 92px #f8bd65, 0 0 102px #f8bd65, 0 0 151px #f1422b;

                    @include responsive(large-screens) {
                        font-size: 40px;
                    }
                }
            img {
                margin: 0 auto;
                width: 70%;
                @include responsive(large-screens) {
                    width: 20%;
                }
            }
        }
    }

/* ----------------aboutme-sec---------------------------- */
    section.aboutme-sec {
        height: 100vh;
        overflow: hidden;
        background: url(../images/marble2.png);

        .face {
            width: 150px;

            @include responsive(large-screens) {
                width: 300px;
            }
        }

        p {
            width: 100%;
            padding: 30px;
            border: 1px solid black;
            border-radius: 30px;
            font-size: 16px;
            background-color: white;
            box-shadow: 0 10px 6px -6px #777;            
            
            @include responsive(large-screens) {
                width: 800px;
                font-size: 24px;
            }
        }

        .hello {
            font-size: 16px;
            @include responsive(large-screens) {
                font-size: 36px;
                transform: translate(400px, -200px);
            }
        }
        .effort {

            @include responsive(large-screens) {
                transform: translate(100px, 100px);
            }
        }
        .ready {

            @include responsive(large-screens) {
                transform: translate(500px, -300px);
            }
        }
        .personality {
            
            @include responsive(large-screens) {
                transform: translate(1000px, -150px);
            }
        }
        .vision {

            @include responsive(large-screens) {
                transform: translate(400px, -150px);
            }
        }
    }

/* -------------------skills-sec----------------------------- */
    section.skill-sec {
        height: 100vh;
        background-image: radial-gradient(circle at 50% 50%,rgb(70, 71, 92),#1f2020);

        h2 {
            padding-top: 12vh;
            text-align: center;
            color: white;

            @include responsive(large-screens) {
                
            }
        }

        form {
            // background-color: #f8bd65;
            padding-top: 3vh;
        
            @include responsive(large-screens) {
                position: absolute;
                margin-top: 50px;
                margin-left: 780px;
            }

            .btn {
                border: 3px solid rgb(24, 24, 24);
                display: inline-block;
                padding: 10px;
                position: relative;
                z-index: 10;
                text-align: center;
                transition: background 600ms ease, color 600ms ease;

                @include responsive(large-screens) {}
            }

            input[type="radio"].toggle {
                display: none;

                &+label {
                    cursor: pointer;
                    width: 50%; /* dd */
                    font-size: 20px;
                    line-height: 25px;

                    @include responsive(large-screens) {
                        width: 110px;
                    }

                    &:hover {
                        background: none;
                        color: #7a7a7a;
                    }

                    &:after {
                        background: rgb(0, 0, 0);
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
                        z-index: -1;

                    }
                }

                &.toggle-left+label {
                    border-right: 0;

                    &:after {
                        left: 100%
                    }
                }

                &.toggle-right+label {
                    margin-left: -8px;

                    &:after {
                        left: -100%;
                    }
                }

                &:checked+label {
                    cursor: default;
                    color: #fff;
                    z-index: 60;
                    transition: color 200ms;

                    &:after {
                        left: 0;
                    }
                }
            }
        } /* form */


        .languages {
            padding-top: 5vh;
            perspective: 1000px;
            // background-color: #f1422b;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 10vh;
            justify-items: center;

            @include responsive(large-screens) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                position: relative;
                height: 60vh;
            }

            .skill-icon {
                width: 8vh;
                height: 8vh;
                position: relative;
                background: radial-gradient(circle at 50% 110%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
                // transform-style: preserve-3d;
                transition: transform 1s;
                border-radius: 50%;
                cursor: pointer;

                @include responsive(large-screens) {
                    position: absolute;
                    transform: none;
                    transition: transform 1s;

                    &:nth-child(1) { transform: rotate(150deg) translate(400px, 120px) rotate(-150deg); }
                    &:nth-child(2) { transform: rotate(130deg) translate(400px, 80px) rotate(-130deg); }
                    &:nth-child(3) { transform: rotate(110deg) translate(400px, 40px) rotate(-110deg); }
                    &:nth-child(4) { transform: rotate(90deg) translate(400px, 0px) rotate(-90deg); }
                    &:nth-child(5) { transform: rotate(70deg) translate(400px, -40px) rotate(-70deg); }
                    &:nth-child(6) { transform: rotate(50deg) translate(400px, -80px) rotate(-50deg); }
                    &:nth-child(7) { transform: rotate(30deg) translate(400px, -120px) rotate(-30deg); }
                }
                
                &:hover {
                    // transform: rotateY(360deg) rotateX(0deg);

                }    

                &::before {
                    content: "";
                    width: 104%;
                    height: 103%;
                    border-radius: 50%;
                    background: radial-gradient(circle at 50% 110%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
                    // background-image: linear-gradient(90deg, #ffffff, #f5fd84 43%, #daff06);
                    position: absolute;
                    z-index: -1;
                    top: -1%;
                    left: -2%;
                    animation: spin 2.5s linear infinite;
                    
                }
                
                &::after {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: -1;
                    height: 100%;
                    width: 100%;
                    margin: 0 auto;
                    transform: scale(0.8);
                    filter: blur(calc(200px / 6));
                    background: radial-gradient(circle at 50% 110%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
                    // background-image: linear-gradient(var(--rotate), #fffb0a, #f8f8f8 43%, #fffb0c);
                      opacity: 1;
                    transition: opacity 0.5s;
                    animation: spin 2.5s linear infinite;
                  }

                  @keyframes spin {
                    0% {
                        transform: rotate(0deg);
                        --rotate: 0deg;
                      }
                      100% {
                        transform: rotate(360deg);
                        --rotate: 360deg;
                      }
                }
                

                img {
                    scale: 0.6;
                }
            }
        }

        .tools {
            padding-top: 5vh;
            perspective: 1000px;
            // background-color: #f1422b;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 10vh;
            justify-items: center;

            @include responsive(large-screens) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                position: relative;
                height: 60vh;
            }

            .skill-icon {
                width: 8vh;
                height: 8vh;
                position: relative;
                background: radial-gradient(circle at 50% 110%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
                // transform-style: preserve-3d;
                transition: transform 1s;
                border-radius: 50%;
                cursor: pointer;

                @include responsive(large-screens) {
                    position: absolute;
                    transform: none;
                    transition: transform 1s;

                    &:nth-child(1) { transform: rotate(150deg) translate(400px, 120px) rotate(-150deg); }
                    &:nth-child(2) { transform: rotate(130deg) translate(400px, 80px) rotate(-130deg); }
                    &:nth-child(3) { transform: rotate(110deg) translate(400px, 40px) rotate(-110deg); }
                    &:nth-child(4) { transform: rotate(90deg) translate(400px, 0px) rotate(-90deg); }
                    &:nth-child(5) { transform: rotate(70deg) translate(400px, -40px) rotate(-70deg); }
                    &:nth-child(6) { transform: rotate(50deg) translate(400px, -80px) rotate(-50deg); }
                    &:nth-child(7) { transform: rotate(30deg) translate(400px, -120px) rotate(-30deg); }
                }
                
                &:hover {
                    // transform: rotateY(360deg) rotateX(0deg);

                }    

                &::before {
                    content: "";
                    width: 104%;
                    height: 103%;
                    border-radius: 50%;
                    background: radial-gradient(circle at 50% 110%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
                    // background-image: linear-gradient(90deg, #ffffff, #f5fd84 43%, #daff06);
                    position: absolute;
                    z-index: -1;
                    top: -1%;
                    left: -2%;
                    animation: spin 2.5s linear infinite;
                    
                }
                
                &::after {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: -1;
                    height: 100%;
                    width: 100%;
                    margin: 0 auto;
                    transform: scale(0.8);
                    filter: blur(calc(200px / 6));
                    background: radial-gradient(circle at 50% 110%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
                    // background-image: linear-gradient(var(--rotate), #fffb0a, #f8f8f8 43%, #fffb0c);
                      opacity: 1;
                    transition: opacity 0.5s;
                    animation: spin 2.5s linear infinite;
                  }

                  @keyframes spin {
                    0% {
                        transform: rotate(0deg);
                        --rotate: 0deg;
                      }
                      100% {
                        transform: rotate(360deg);
                        --rotate: 360deg;
                      }
                }
                

                img {
                    scale: 0.6;
                }
            }
        }

        .tooltip {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 200px;
            // white-space: nowrap;
            background-color: white;
            color: black;
            text-align: center;
            // border-radius: 6px;
            padding: 5px 10px;
            border: 1px solid #ccc;
            display: none;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 1000;
            pointer-events: none;

            @include responsive(large-screens) {
                position: relative;
                top: -320px; left: 42%;
                transform: translate(0, 0);
            }
          
            .loading-bar-container {
              position: relative;
              margin-top: 50px;
              height: 5px;
              width: 100%;
              height: 10px;
              background-color: #ccc;
              border: 1px solid #000;
              border-radius: 3px;
              margin-bottom: 5px;
            }
          
            .loading-bar {
              height: 100%;
              background: #007BFF;
              width: 0%;
              transition: width 0.3s linear;
              border-radius: 2px;
            }
          
            .per-text {
              margin-top: 5px;
              font-size: 12px;
            }
          
            .tool-text {
              padding-top: 10px;
            }
          } /* tooltip */

    } /* skill-sec */


/* --------------------portfolio-sec----------------- */
    section.portfolio-sec {
        height: 100vh;
        background: url(../images/marble2.png);
        background-size: 100% 100%;
        overflow: hidden;

        @include responsive(large-screens) {
            background-size: cover;
        }

        .container {
            // position: relative;
        }
        
        .slide-box {
            padding-top: 10vh;
            position: relative;
            width: 100%;
            // background-color: #007BFF;
            margin: 0 auto;
            // overflow: hidden;

            @include responsive(large-screens) {
                height: 100vh;
            }

            .prev {
                position: absolute;
                z-index: 10;
                top: 105%; left: 0;
                cursor: pointer;
                font-size: 100px;

                @include responsive(large-screens) {
                    top: 50%; left: 13%;
                }
            }

            .slide-carousel {
                display: flex;
                width: 100%;
                margin: 0 auto;
                transition: transform 0.5s ease-in-out;
                overflow: hidden;
                // background-color: #007BFF;

                @include responsive(large-screens) {
                    width: 67%;
                    transform: translateX(50px);
                }

                .slide-wrapper {
                    display: flex;
                    width: 100%;
                    transition: transform 0.5s ease-in-out;
                }

                .portfolio-box {
                    min-width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 5vh;
                    // background-color: wheat;

                    @include responsive(large-screens) {
                        flex-direction: row;
                        margin-top: 15vh;
                        gap: 50px;
                    }
        
                    .portfolio-img {
                        width: 100%;
                        height: 30vh;
                        overflow: hidden;
                        margin: 0 auto;
                        // background-color: #007BFF;

                        @include responsive(large-screens) {
                            width: 60%;
                            height: 500px;
                        }
                    }
        
                    .portfolio-detail {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        width: 100%;
                        height: 300px;
                        // background-color: #007BFF;

                        @include responsive(large-screens) {
                            width: 40%;
                        }
        
                        h2 {
                            font-size: 150%;
                            text-align: center;
                            margin-top: 2vh;
                            
                            @include responsive(large-screens) {
                                margin-top: 0;
                                font-size: 30px;
                            }
                            
                            .special-title{
                                display: block;
                            }
                        }
                        
                        p.term {
                            text-align: center;
                            font-size: 130%;

                            @include responsive(large-screens) {

                            }
                        }
        
                        p.detail-text {
                            text-align: center;

                            @include responsive(large-screens) {
                                font-size: 18px;
                            }
                        }
                        
                        .tag-text {

                            @include responsive(large-screens) {
                                margin-top: 0;
                            }
                            ul {
                                display: flex;
                                justify-content: center;
                                gap: 2vh;
        
                            }
                        }
        
                        .portfolio-btn {
                            display: flex;
                            justify-content: space-evenly;
                            gap: 15px;
                            margin-top: 2vh;
        
                            div {
                                    flex-basis: 25%;
                                    cursor: pointer;
                                    position: relative;
                                    border: 0;
                                    padding: 10px 15px;
                                    text-align: center;
                                    color: rgb(255, 255, 255);
                                    background-color: #6b6b6b;
                                    box-shadow: 0px 4px #000000;
                                }
                            div:active {
                                top: 4px; 
                                box-shadow: 0; background-color: #000000;
                            }
                        }
                    }
                }
            }

            .next {
                position: absolute;
                z-index: 10;
                top: 105%; right: 0%;
                cursor: pointer;
                font-size: 100px;

                @include responsive(large-screens) {
                top: 50%; right: 8%;
                }
            }
        }
    }


    



/* -----------contact-sec----------------- */



    section.contact-sec {
        height: 100vh;
        background: url(../images/marble2.png);
        overflow: hidden;

        .ring {
            position: relative;
            margin: 0 auto;
            width: 90vw;
            height: 90vw;
            transform: translate(0px, 35%);
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: antiquewhite;

            @include responsive(large-screens) {
                width: 600px;
                height: 600px;
                transform: translate(0px, 25%);
            }
          
            i {
                    position: absolute;
                    inset: 0;
                    border: 2px solid #000000;
                    transition: 0.5s;
            
                    &:nth-child(1) {
                        border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
                        animation: animate 6s linear infinite;
                    }
            
                    &:nth-child(2) {
                        border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
                        animation: animate 4s linear infinite;
                    }
            
                    &:nth-child(3) {
                        border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
                        animation: animate2 10s linear infinite;
                    }
                }
            
                &:hover {
                    i {
                        border: 4px solid var(--clr);
                        filter: drop-shadow(0 0 20px var(--clr));
                    }
                }
            .myinfo {
                display: flex;
                flex-direction: column;
                height: 70%;
                justify-content: space-evenly;
                // background-color: #f1422b;
                h2 {
                    font-size: 4vh;
                    text-align: center;
                }
                .mymail {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 1.5vh;
                    padding-left: 15%;
                // background-color: #f1422b;
                    
                    img {
                        width: 12%;
                    }

                    a{
                        font-size: 2vh;
                    }
                }

                .mynum {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 1.5vh;
                    padding-left: 15%;
                    
                    img {
                        width: 12%;
                    }

                    a{
                        font-size: 2vh;
                    }
                }

                .mygithub {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 1.5vh;
                    padding-left: 15%;
                    
                    img {
                        width: 12%;
                    }

                    a{ 
                        font-size: 2vh;
                    }
                }
            }

        }
          
        @keyframes animate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        }
        
        @keyframes animate2 {
        0% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(0deg);
        }
        }
    } /* contact-sec */
    .elevator-doors {
        position: fixed;
        z-index: 5000;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        pointer-events: none;
    }
    .door {
        width: 50%;
        height: 100%;
        background: #333;
        position: absolute;
        z-index: 5000;
        top: 0;
        transition: transform 0.5s ease-in-out;
    }
    
    .door.left {
        left: 0;
        transform: translateX(-100%);
    }
    
    .door.right {
        right: 0;
        transform: translateX(100%);
    }
    
    .doors-closing .door.left {
        transform: translateX(0);
    }
    
    .doors-closing .door.right {
        transform: translateX(0);
    }
}

footer {
    text-align: center;
    transform: translateY(-50px);
}